body {
    overflow-x: hidden;
    overflow-y: hidden;
}

.left-row
{
    border-right: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    padding: 0;
    height: 30%;
}

.left-row-top
{
    border-right: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    height: 30%;
}

.left-row-bot
{
    border-right: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    height: 30%;
}

.top-annoncer
{
    background-color: #1E64AE;
    color: #FFFF;
    font-size: 45px;
    border-bottom: 1px solid #FFF;
}

.first-col
{
    color: white;
    background-color: #131F2B;
}

.my_row
{
    height: 80px;
    padding: 0 0 0 15px;
    margin: 0;
}

.last_row
{
    height: 308px;
}

.my_row:hover
{
    cursor: pointer;
    background-color: #4CAA5C;
}

.second_col
{
    margin: 0;
    width: 900px;
    height: 500px;
    background-color: white;
}
.third_col
{
    margin: 0;
    padding:  0;
    height: 234px;
    background-color: #F4F7F8;
}

li
{
    list-style: none;
}